@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Itapeva, 378<br />
    Bela Vista, SP 01332-901<br />
    <abbr title="Phone">Tel:</abbr>
    11- 9999.9999
</address>

<address>
    <strong>Criacao:</strong> <a href="mailto:Support@example.com">thaina@miu.com.br</a><br />
    <strong>Suporte:</strong> <a href="mailto:Marketing@example.com">miu@miu.com.br</a>
</address>
